* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

#container {
  max-width: 1400px;
  margin: 0 auto;
}

.snow_wrap {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999999;
  pointer-events: none;
}

.snow,.snow:after,.snow::before {
  content: '';
  position: absolute;
  top: -650px;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(4px 4px at 100px 50px,#fff,transparent),radial-gradient(6px 6px at 200px 150px,#fff,transparent),radial-gradient(3px 3px at 300px 250px,#fff,transparent),radial-gradient(4px 4px at 400px 350px,#fff,transparent),radial-gradient(6px 6px at 500px 100px,#fff,transparent),radial-gradient(3px 3px at 50px 200px,#fff,transparent),radial-gradient(4px 4px at 150px 300px,#fff,transparent),radial-gradient(6px 6px at 250px 400px,#fff,transparent),radial-gradient(3px 3px at 350px 500px,#fff,transparent),radial-gradient(4px 4px at 550px 550px,#fff,transparent);
  background-size: 250px 250px;
  animation: SnowAnim 3s linear infinite;
  pointer-events: none;
}

.snow:after {
  margin-left: -250px;
  opacity: 0.5;
  filter: blur(2px);
  animation-direction: reverse;
  animation-duration: 6s;
}

.snow::before {
  margin-left: -350px;
  opacity: 0.7;
  filter: blur(1px);
  animation-direction: reverse;
  animation-duration: 9s;
}

@keyframes SnowAnim {
  from {
      transform: translateY(0);
  }

  to {
      transform: translateY(250px);
  }
}

.header {
  position: fixed;
  z-index: 999;
  top: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  height: 5rem;
  width: 100%;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  align-items: center;
  font-weight: 400;
  font-size: 0.9rem;
  padding: 0.7rem 2rem 0 2rem;
}

.header ul li:not(.logo):hover {
  font-weight: bold;
}

.hamburger {
  display: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

.mobile_menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 998;
  transition: left 0.4s ease;
}

.mobile_menu ul {
  list-style: none;
  padding: 6rem 2rem;
}

.mobile_menu li {
  margin-bottom: 2rem;
}

.mobile_menu a {
  color: black;
  font-size: 1.5rem;
}

.hamburger {
  display: none;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
}

.logo {
  font-size: 3rem;
  padding-right: 20rem;
  font-weight: 500;
}

.red a {
  color: #e01919e3;
}

.wish {
  width: 1.3rem; 
  filter: brightness(0) invert(1);
}

.input_box {
  border: 1.3px solid #fff;
  width: 8.5rem;
  height: 1.3rem;
  font-size: 0.8rem;
  background-color: transparent;
  color: #fff;
}

.input_box:focus {
  outline: none;
}

.slider {
  width: 100%;  
  height: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.slides img {
  width: 100%;
  height: 100%;
}

.women img,
.men img,
.acc img {
  width: 100%;
  display: block;
}

.women,
.men,
.acc {
  position: relative;
}

.women_text,
.men_text,
.acc_text {
  color: #fff;
  position: absolute;
}

.women_text,
.men_text,
.acc_text {
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main_wrapper div {
  text-align: center;
}

.main_wrapper h2 {
  font-size: 2.7rem;
}

.main_wrapper a {
  display: inline-block;
  margin-top: 0.5rem;
  position: relative;
}

.main_wrapper a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;    
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.main_wrapper a:hover::after {
  transform: scaleX(1);
}

.footer_wrapper {
  max-width: 100%;
  height: 18rem;
  margin: 0 auto;
  display: flex;
  gap: 10rem;
  padding: 5rem 2.2rem;
}

.footer_wrapper h5 {
  margin-bottom: 0.9rem;
  font-size: 0.9rem;
}

.footer_wrapper a {
  display: inline-block;
}

.footer_wrapper a img {
  background-color: black;
  border-radius: 50%;
  width: 2rem;
  margin-right: 1rem;  
}

.footer_wrapper p {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  font-weight: 450;
  letter-spacing: 2px;
}

.footer_mobile {
  display: none;
}

.scroll-to-top {
  position: fixed;
  bottom: 2.5rem;     
  right: 2.5rem;      
  width: 2.5rem; 
  height: 2.5rem;   
  border-radius: 50%;
  border: 1.5px solid #000000;
  background: #ffffff;
  color: #000;
  font-size: 1.3rem; 
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 999;
}

.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.scroll-to-top.hide {
  opacity: 0;
  visibility: hidden;
  transform: translateY(1.25rem); 
}

/* 반응형 */

@media (max-width: 767px) {
  .header {
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
  }

  .header ul li:not(.logo):not(.hamburger),
  .input_box {
    display: none;
  }

  .header ul {
    justify-content: space-between;
  }

  .logo {
    font-size: 2.2rem;
    font-weight: 550;
    padding-right: 0;
  }
  
  ul .s_red {
    color: #e01919e3;
  }

  .hamburger {
    display: block;
  }
  
  .mobile_menu.active {
    left: 0;
  }

  .mobile_menu li:hover {
    font-weight: bold;
  }

  .header.menu_open {
    background: #fff;
  }
  
  .header.menu_open a {
    color: black;
  }
  
  .header.menu_open .hamburger i {
    color: black;
  }

  .mobile_menu a {
    font-size: 1.2rem;
    font-family: "Barlow Condensed";
  }

  .slides img:nth-of-type(1) {
    content: url('img/main1_min.jpg');
  }
  .slides img:nth-of-type(2) {
    content: url('img/main1-2_min.jpg');
  }
  .slides img:nth-of-type(3) {
    content: url('img/main1-3_min.jpg');
  }
  .slides img:nth-of-type(4) {
    content: url('img/main1-4_min.jpg');
  }

  .women img {
    content: url('img/main_w_min.jpg');
  }

  .men img {
    content: url('img/main_m_min.jpg');
  }

  .acc img {
    content: url('img/main_a_min.jpg');
  }

  .main_wrapper h2 {
    font-size: 2rem;
  }

  .footer_wrapper {
    flex-direction: column;
    height: 21rem;
    gap: 2rem;
    padding: 5.5rem 1rem;
  }

  .footer_wrapper div:first-child h5 {
    display: none;
  }

  .footer_wrapper div:first-child {
    margin: 0 auto;
    padding-bottom: 1rem;
  }

  .footer_wrapper > div:nth-child(2),
  .footer_wrapper > div:nth-child(3) {
    display: none;
  }

  .footer_mobile {
    display: block;    
  }

  summary {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b9b9b9;
    padding-bottom: 0.5rem;
  }
  
  summary::-webkit-details-marker {
    display: none;
  }

  .footer_mobile[open] summary i {
  transform: rotate(180deg);
}

  summary i {
    color: #b9b9b9;
  }

  .content {
    margin: 0.8rem 0;
  }

  .content p {
    font-size: 0.8rem;
  }
  
  #scrollToTopBtn {
    display: none;
  }
}