* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

#container {
  max-width: 1300px;
  margin: 0 auto;
}

.snow_wrap {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999999;
  pointer-events: none;
}

.snow,.snow:after,.snow::before {
  content: '';
  position: absolute;
  top: -650px;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(4px 4px at 100px 50px,#fff,transparent),radial-gradient(6px 6px at 200px 150px,#fff,transparent),radial-gradient(3px 3px at 300px 250px,#fff,transparent),radial-gradient(4px 4px at 400px 350px,#fff,transparent),radial-gradient(6px 6px at 500px 100px,#fff,transparent),radial-gradient(3px 3px at 50px 200px,#fff,transparent),radial-gradient(4px 4px at 150px 300px,#fff,transparent),radial-gradient(6px 6px at 250px 400px,#fff,transparent),radial-gradient(3px 3px at 350px 500px,#fff,transparent),radial-gradient(4px 4px at 550px 550px,#fff,transparent);
  background-size: 250px 250px;
  animation: SnowAnim 3s linear infinite;
  pointer-events: none;
}

.snow:after {
  margin-left: -250px;
  opacity: 0.5;
  filter: blur(2px);
  animation-direction: reverse;
  animation-duration: 6s;
}

.snow::before {
  margin-left: -350px;
  opacity: 0.7;
  filter: blur(1px);
  animation-direction: reverse;
  animation-duration: 9s;
}

@keyframes SnowAnim {
  from {
      transform: translateY(0);
  }

  to {
      transform: translateY(250px);
  }
}

.header {
  position: fixed;
  z-index: 999;
  top: 0;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  align-items: center;
  font-weight: 400;
  font-size: 0.9rem;
  padding-left: 2rem;
}

.logo {
  font-size: 3rem;
  padding-right: 20rem;
  font-weight: 550;
}

ul .red {
  color: red;
}

.input_box {
  border: 1.3px solid #fff;
  width: 8.5rem;
  height: 1.3rem;
  font-size: 0.8rem;
  background-color: transparent;
  color: #fff;
}

.input_box:focus {
  outline: none;
}

.slider {
  width: 100%;  
  height: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.slides img {
  width: 100%;
  height: 100%;
}

.women img,
.men img,
.acc img {
  width: 100%;
  display: block;
}

.women,
.men,
.acc {
  position: relative;
}

.women_text,
.men_text,
.acc_text {
  color: #fff;
  position: absolute;
}

.women_text,
.men_text,
.acc_text {
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main_wrapper h2 {
  font-size: 2rem;
}

.main_wrapper a {
  display: block;
  text-align: center;
  margin-top: 1rem;
}

.footer_wrapper {
  max-width: 100%;
  height: 10rem;
  margin: 0 auto;

}

